{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SignIn</title>
</head>

<body>
    <div><p style="padding: 0 20px; "> <a href="/">返回</a></p></div>
    <h1 style="text-align:center; font-weight: bolder;">主菜单</h1>
	<hr style="height:2px;border:none;border-top:10px groove skyblue;width: 50%;" >
	<div align="center">
    <div><p style="text-align: center;"> <a href=/edu_articles>科普</a></p></div>
    <div><p style="text-align: center;"> <a href=/fiction>小说</a></p></div>
    <div><p style="text-align: center;"> <a href=/graphics>漫画</a></p></div> 
    <div><p style="text-align: center;"> <a href=/commercial>商业</a></p></div>
    <div><p style="text-align: center;"> <a href=/upload_articles>上传</a></p></div>
    <div><p style="text-align: center;"> <a href=/homepage>主页</a></p></div>
	</div>
</body>
</html>