{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SignIn</title>
</head>

<body>
    <div><p style="padding: 0 20px; "> <a href="/">返回</a></p></div>
    <h1 style="text-align:center; font-weight: bolder;">管理员主菜单</h1>
	<hr style="height:2px;border:none;border-top:10px groove skyblue;width: 50%;" >
	<div align="center">
    <div><p style="text-align: center;"> <a href=/edu_articles>处理举报</a></p></div>
    <div><p style="text-align: center;"> <a href=/blacklist>黑名单</a></p></div>
    <div><p style="text-align: center;"> <a href=/graphics>众审</a></p></div>
    <div><p style="text-align: center;"> <a href=/homepage>主页</a></p></div> 
	</div>
</body>
</html>